/* 21 - Test for NAV
 * CSS for Cards.js
 *
 * Per Olav Mariussen
 * 01.12.2017
 */

.hand {
	height:auto;
    overflow: auto;
	margin: auto;
	display: table;
}
.card {
	display: inline-block;
	height: 92px;
	width: 66px;
	float: left;
}
@media(min-width: 768px) {
	.card {
		height: 185px;
		width: 132px;
	}
}